<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d34add1f-3f79-40d0-ac3f-f21bfca91675/resourcegroups/PublicApi20210507213801ResourceGroup/providers/Microsoft.Web/sites/PublicApi20210507213801</ResourceId>
    <ResourceGroup>PublicApi20210507213801ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/d34add1f-3f79-40d0-ac3f-f21bfca91675/resourceGroups/PublicApi20210507213801ResourceGroup/providers/Microsoft.ApiManagement/service/PublicApiapi/apis/PublicApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://publicapi20210507213801.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b5e4f33c-4667-4a55-af6a-740f84c4cf3a</ProjectGuid>
    <MSDeployServiceURL>publicapi20210507213801.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PublicApi20210507213801</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PublicApi20210507213801</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>